/* src/Card.css */
.card {
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s, color 0.5s;
}

.card.light {
  background-color: white;
  color: black;
}

/* .card.dark {
  background-color: #333;
  color: white;
} */
