/* src/App.css */

.App {
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #6200ea;
  /* color: white; */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}
